<div class="section full-height">
    <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn"/>
    <label for="modal-btn">Ver Traslados</label> 		
    <div class="modal">		
        <div class="modal-wrap">	
            <!-- <img src="https://assets.codepen.io/1462889/sl3.jpg" alt=""> -->
            <p><span>Pondremos a vuestra disposición el traslado en autobús a la Hacienda. 
                Para la vuelta también habrá regreso, no os preocupéis.</span></p>
            <p><span>El punto de origen será en el <u><b>Teatro de la Maestranza</b></u>, muy cerca de la Iglesia de la Caridad. 
                Para la vuelta habrá una parada en <u><b>Plaza de Cuba y otra en Tomares</b></u>, en un lugar aún por determinar. </span></p>
            <p><span>Los horarios para la vuelta los indicaremos cuando se acerque la fecha, pero <u><b>posiblemente uno sea a las 20.00h, otro a las 22.30h </b></u>y otro al terminar la barra libre. Recuerda, este horario es aproximado y se definirá días antes del enlace.</span></p>
        </div>			          		
    </div>		
</div>