<!-- <div style="overflow: scroll; height: 700px;" #scrollMe> -->
<div>
    <div *ngIf="!show_results">
        <div class="container d-flex justify-content-center">
            <h1>¡recomienda una cancion a los novios!</h1>
        </div>
        <p><span>
            Esto normalmente es una de las "sorpresitas" que se descubren durante la celebración. 
            Pero nosotros, como ya sabéis, no somos normales, y queremos que nos ayudéis a elegir 
            una de las canciones de la boda. 
        </span></p>
        <p><span>En este caso será... </span></p>
        <div class="container d-flex justify-content-center"><h2>¡La entrada al banquete!</h2></div>
        <p><span>
        Para ello tendrás que escuchar las siguientes canciones y votar por alguna de ellas. 
        Escúchalas cuantas veces necesites, ¡sólo habrá un voto por persona! Al final de la página encontrarás el formulario para ayudarnos.
        ¡Te agradecemos que te tomes este tiempo y esperamos que lo disfrutes!
        </span></p>

<!-- <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
        <youtube-player videoId="UtF6Jej8yb4" [width]="videoWidth" [height]="videoHeight"></youtube-player>
    </section>
</div>  d-flex justify-content-between-->

<!-- MODAL -->
        <div>
            <div class="container d-flex justify-content-center mb-4">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#container_modal_traslados">Ver las canciones propuestas</button>
            </div>
            <div class="modal fade" id="container_modal_traslados" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Tienes que elegir una de las seis</h2>
                            <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    videoId="UtF6Jej8yb4"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    videoId="8WdrVgdUXJI"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    videoId="aUyPHxBc82Q"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    videoId="-DQ4ZUdcmwk"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    videoId="hE6CsyWv8Zs"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    videoId="Iw0FNURjOWs"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END MODAL -->

    <!-- [startSeconds]="4"
    [endSeconds]="8" -->
        <div class="container d-flex justify-content-center flex-column">
            <form class="formulario" [formGroup]="canciones">
                <div class="container d-flex justify-content-center">
                    <h3>¿Con qué canción quieres que entremos al banquete?</h3>
                </div>
                <mat-radio-group class="d-flex justify-content-around flex-wrap" aria-label="Select an option!" formControlName="cancion">
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_1">Avicii - The nights</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_2">Manzanita - Un ramito de violetas</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_3">Chiquetete - Esa cobardía</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_4">Camilo Sesto - Vivir así es morir de amor</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_5">Jarabe de Palo - Eso que tú me das</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_6">Junco - Hola mi amor</mat-radio-button>
                </mat-radio-group>
            </form>
            <!-- *ngIf="canciones.value.cancion" -->
            <div class="container d-flex justify-content-around">
                <button 
                    class="btn btn-info"
                    [disabled]="!canciones.value.cancion"
                    (click)="guardarCancion()"
                >
                    Votar
                </button>
                <!-- data-toggle="modal" data-target="#container_resultados" -->
                <button 
                    class="btn btn-outline-secondary"
                    data-toggle="collapse" 
                    data-target="#collapseExample" 
                    aria-expanded="false" 
                    aria-controls="collapseExample"
                    (click)="verResultados()"
                >
                    Ver resultados
                </button>
            </div>
        </div>
    </div>

<!-- <div class="modal fade" id="container_resultados" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Aquí tienes los resultados actuales</h2>
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-center flex-wrap">
                    Va ganando Rita The Singer
                    <app-graficos></app-graficos>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div> -->

<div class="collapse" id="collapseExample">
        <div class="container mt-2 d-flex flex-wrap justify-content-center">
            <div class="card card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="modal-title">Aquí tienes los resultados actuales</h2>
                    <button 
                        class="btn btn-outline-secondary"
                        data-toggle="collapse" 
                        data-target="#collapseExample" 
                        aria-expanded="false" 
                        aria-controls="collapseExample"
                        (click)="verResultados()"
                    >
                        Volver
                    </button>
                </div>
                    <div>
                        <div>
                            <div>
                                <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"  
                                [chartType]="doughnutChartType">
                                </canvas>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>



