<!-- <div style="overflow: scroll; height: 700px;" #scrollMe> -->
<div>
    <div *ngIf="!show_results">
        <div class="container d-flex justify-content-center">
            <h1>¡recomienda una cancion a los novios!</h1>
        </div>
        <p><span>
            Esto normalmente es una de las "sorpresitas" que se descubren durante la celebración. 
            Pero nosotros, como ya sabéis, no somos normales, y queremos que nos ayudéis a elegir 
            una de las canciones de la boda. 
        </span></p>
        <p><span>En este caso será... </span></p>
        <div class="container d-flex justify-content-center"><h2>¡La entrada al banquete!</h2></div>
        <p><span>
        Para ello tendrás que escuchar las siguientes canciones y votar por alguna de ellas. 
        Escúchalas cuantas veces necesites, ¡sólo habrá un voto por persona! Al final de la página encontrarás el formulario para ayudarnos.
        ¡Te agradecemos que te tomes este tiempo y esperamos que lo disfrutes!
        </span></p>

<!-- <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
        <youtube-player videoId="UtF6Jej8yb4" [width]="videoWidth" [height]="videoHeight"></youtube-player>
    </section>
</div>  d-flex justify-content-between-->

<!-- MODAL -->
        <div>
            <div class="container d-flex justify-content-center mb-4">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#container_modal_traslados">Ver las canciones propuestas</button>
            </div>
            <div class="modal fade" id="container_modal_traslados" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="modal-title">Tienes que elegir una de las seis</h2>
                            <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_1"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_2"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_3"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_4"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                            <div class="d-flex justify-content-center flex-wrap">
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_5"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                                <youtube-player
                                    [videoId]="constants.VALUES.IDS_CANCIONES.CANCION_6"
                                    suggestedQuality="highres"
                                    [height]="200"
                                    [width]="300"
                                ></youtube-player>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- END MODAL -->

    <!-- [startSeconds]="4"
    [endSeconds]="8" -->
        <div class="container d-flex justify-content-center flex-column">
            <form class="formulario" [formGroup]="canciones">
                <div class="container d-flex justify-content-center">
                    <h3>¿Con qué canción quieres que entremos al banquete?</h3>
                </div>
                <mat-radio-group class="d-flex justify-content-around flex-wrap" aria-label="Select an option!" formControlName="cancion">
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_1">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_1 }}</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_2">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_2 }}</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_3">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_3 }}</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_4">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_4 }}</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_5">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_5 }}</mat-radio-button>
                    <mat-radio-button class="col-sm-7 col-lg-6" value="cancion_6">{{ constants.VALUES.TITULOS_CANCIONES.CANCION_6 }}</mat-radio-button>
                </mat-radio-group>
            </form>
            <div class="container d-flex justify-content-around">
                <button 
                    class="btn btn-info"
                    [disabled]="!canciones.value.cancion"
                    (click)="guardarCancion()"
                >
                    Votar
                </button>
                <button 
                    class="btn btn-outline-secondary"
                    [disabled]="disableResults()"
                    routerLink="/resultados-votacion"
                >
                    <span *ngIf="!disableResults()">Ver resultados</span>
                    <span *ngIf="disableResults()">Vota para ver los resultados</span>
                </button>
            </div>
        </div>
    </div>
