@import '../../variables.scss';

h2 {
    font-family: "Julius Sans One";
    color: $verde-letra
}
.oops{ margin-bottom: 0;}
.card-body{
    margin-top: 5rem;
}

.no-se-ve{
    visibility: hidden;
}
@media only screen and (max-width: 629px) {
    .graph {
    //   max-width: none;
    //   margin-top: 21vh !important;
    //   transform: rotate(90deg);
    display: none;
    // visibility: hidden;
    }
    .no-se-ve{
        visibility: visible;
    }
    img{
        max-height: 40vw;
    }
}