<h1 class="display-4 d-flex justify-content-center">Traslados en autobús</h1>
<div class="container">
    <p><span>Pondremos a vuestra disposición el traslado en autobús a la Hacienda. 
        Para la vuelta también habrá autobús de regreso, no os preocupéis.</span></p>
    <div class="d-flex justify-content-center mt-3 mb-4">
        <img class="img-fluid" src="../assets/imgs/maestranza.jfif" alt="Gabri y Maria">
    </div>
    <p><span>El punto de origen será en el <u><b>Teatro de la Maestranza</b></u>, a pocos metros de la Iglesia de la Caridad. 
            Para la vuelta habrá una parada en <u><b>Plaza de Cuba y otra en Tomares</b></u>, en un lugar aún por determinar. </span></p>
    <p><span>Los horarios para la vuelta los indicaremos cuando se acerque la fecha, pero posiblemente <u><b>uno sea a las 20.00h, otro a las 22.30h </b></u>y otro al terminar la barra libre. Recuerda, este horario es aproximado y se definirá días antes del enlace.</span></p>

    <p><span>Por favor, indica en el <a routerLink="/confirmacion">cuestionario de asistencia</a> si contamos contigo para el autobús. ¡Gracias por tu ayuda!</span></p>
</div>