<h1 class="display-4 d-flex justify-content-center">Traslados en autobús</h1>
<div class="container">
    <p><span>Pondremos a vuestra disposición el traslado en autobús a la Hacienda. 
        Para la vuelta también habrá autobús de regreso, no os preocupéis.</span></p>
    <p><span>El punto de origen será la <u><b>Torre del oro</b></u>, a pocos metros de la Iglesia de la Caridad. 
        Para la vuelta habrá una parada en <u><b>Plaza de Cuba y otra en Tomares</b></u>, en la rotonda de Aljarafesa. </span></p>
    <p><span>Los horarios para la vuelta son <u><b>uno sea a las 21.00h y el resto a las 00.30h </b></u>y otro al terminar la barra libre.</span></p>
    
    <div class="d-flex justify-content-center mt-3 mb-4">
        <img class="img-fluid" src="../assets/imgs/servicio_de_autobuses.jpg" alt="Gabri y Maria">
    </div>
    <br>
    <!-- <p><span>Por favor, indica en el <a routerLink="/confirmacion">cuestionario de asistencia</a> si contamos contigo para el autobús. ¡Gracias por tu ayuda!</span></p> -->
</div>