<div class="thanks d-flex flex-column mb-4">
    <div class="d-flex justify-content-center">
        <h1> Gracias por participar</h1>
    </div>
    <div class="d-flex justify-content-center">
        <img class="img-fluid" src="../assets/imgs/logo_transpar2.png" alt="Gabri y Maria">
    </div>
</div>

<div class="felicidades d-flex justify-content-center">
    <span>¡Felicidades, Tu puntuación ha sido de {{ puntuacionFinal }}! Actualmente ocupas la posición número {{ tuMejorPuntuacion }} del ranking</span>
</div>

