<h1 class="display-4 d-flex justify-content-center">El menú</h1>
<div class="section full-height over-hide px-4 px-sm-0 margen_inferior">
    <h3 class="display-4 d-flex justify-content-center">Entrantes</h3>
    <div class="container">
        <p><span>Empanada mental</span></p>
        <p><span>Beicon cuidado y bigote de cabra payoya</span></p>
        <p><span>Endivia cochina</span></p>
        <p><span>Boquetes del queso Gruyère</span></p>
        <p><span>Canastillas de melva con aliño he encogido a los niños</span></p>
        <p><span>Salpicón de charco con botas de agua</span></p>
        <p><span>Taquitos de queso curao de espanto</span></p>
        <p><span>Bocaditos de Doberman rabioso</span></p>
        <p><span>Caña sin lomo</span></p>
        <p><span>Jamón vegano sin jamón</span></p>
    </div>
    <h3 class="display-4 d-flex justify-content-center margen_superior">Platos principales</h3>
    <div class="container">
        <p><span>Arroz con carabinero de paisano</span></p>
        <p><span>Sorbete a hacer puñetas con salsa tartajosa</span></p>
        <p><span>Presa ibérica indultada con su cadena perpetua de papas fritas</span></p>
        <p><span>Pisto para sentencia</span></p>
        <p><span>Solomillo al whisky sin solomillo y con coca-cola</span></p>
        <p><span>Pringá hasta las trancas</span></p>
        <p><span>Ensalada de pasta de dientes con chupito de licor del polo</span></p>
        <p><span>Alboronías animadas de ayer y hoy sobre lecho de verdín de poyete de piscina</span></p>
        <p><span></span></p>
    </div>
    <h3 class="display-4 d-flex justify-content-center margen_superior">Postres</h3>
    <div class="container">
        <p><span>Buñuelos con viento de Vejer</span></p>
        <p><span>Delicias de Tigretón confitado</span></p>
        <p><span>Nada con nueces</span></p>
        <p><span>Sirope de Frigopie</span></p>
        <p><span>Brazo de gitano con anillo de chocolate y Rolex de nada</span></p>
        <p><span>Bola de dragón helada con galletas Campurrianas al punto de caducar</span></p>
    </div>

    <h5 class="display-4 d-flex justify-content-center margen_superior">Catering Cirque du Soleil</h5>
</div>