h1 {
    color: #67B8BC;
    font-family: "Julius Sans One";
    margin-top: 2em;
    margin-bottom: 2em;
}
h2.modal-title {
    margin: 0;
}
h2, h3 {
    color: #67B8BC;
    font-family: "Julius Sans One";
    font-weight: bold;
    // margin-top: 1em;
}
p {
    color:  #336E7B;
    font-weight: 500;
    text-align: justify;
    text-justify: inter-word;
}