.jumbotron {
    background-color: transparent;
    // span {
    //     color:  #336E7B;
    //     font-weight: 500;
    //   }
}
h1 {
    color: #67B8BC;
    font-family: "Julius Sans One";
    margin-bottom: 2em;
}
p {
    font-family: "Julius Sans One";
    color:  #2a626e; // #336E7B; // #2a626e //
    font-weight: 500;
}