<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 d-flex justify-content-center">Lista de Bodas</h1>
      <p class="lead">A nosotros nos encantaría que compartiérais con nosotros este día tan especial. ¡Vuestra presencia allí será nuestro regalo!</p>
      <p>Tenemos mucha suerte de tener todo lo material que necesitamos, pero si quieres contribuir con nuestro viaje soñado podrás hacerlo al siguiente número de cuenta:</p>

      <p>bank account number to copy</p>

      <p>¡Muchísimas gracias!</p>
      <p>Gracias también por la visita, ¡esperamos veros allí en nuestro gran día!</p>
      Si aún tienes alguna duda, por favor no dudes en contactarnos a cualquiera de los dos.
    </div>
</div>