h1 {
    color: #67B8BC;
    font-family: "Julius Sans One";
    margin-top: 4em;
    margin-bottom: 2em;
}
h2.modal-title {
    margin: 0;
}
h3 {
    color: #67B8BC;
    font-family: "Julius Sans One";
    margin-top: 1em;
}
p {
    color:  #336E7B;
    font-weight: 500;
}
mat-vertical-stepper {
    margin-top: 2rem;
}
.mat-stepper-vertical {
    background-color: #FBFBFB; // transparent; // 
    border: 2px solid #B7DFF0;
    border-radius: 5px;
    // margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}
form:nth-child(1) {
    margin-top: 0.5rem;
}
.img-fluid {
    margin-bottom: 1em;
} 
::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: rgb(98,176,222,0.16);
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: rgb(98,176,222,0.16)!important; // transparent !important;
    color: rgb(98,176,222,0.16);
    // +.mat-step-label{
    //   color: rgb(98,176,222,0.16) !important;
    // }
}

::ng-deep .mat-radio-outer-circle {
    .mat-radio-checked & {
          border-color: #336E7B; // 3f51b5
        }
    }
::ng-deep .mat-radio-inner-circle {
    background-color: #336E7B;
}
::ng-deep .mat-radio-ripple .mat-ripple-element {
    background-color: rgba(#336E7B, 0.26);
}
.addAcompanante {
    background: #E5F2F9;
}
.p_acompanante {
    margin-top: 2rem;
}